@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

header {
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    z-index: 80;
    height: 6vw;
    width: 100%;
}

.nav-header-media {
    display: none;
}

.logo-main {
    width: 30%;
}

.logo {

    height: 3vw;
    width: 32%;
}

.nav-header-main {
    width: 40%;
}

.nav-header-main ul {
    color: gray;
    list-style: none;
    display: flex;
    height: 1.7vw;
    width: 100%;
    justify-content: space-between;
    font-size: 1.35vw;
}

.nav-header-main li:hover {
    font-style: italic;
    font-weight: 900;
    cursor: pointer;
    transform: translateX(5px);
}

#portifolio {
    font-weight: bolder;
    font-weight: 900;
    color: black;
}

.background-main {
    background: transparent url(img/background-main.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    height: 40vw;
    width: 100%;
}

.background-main h1 {
    padding-top: 300px;
    margin-left: 180px;
    color: white;
    font-size: 78px;
}

.background-main p {
    text-transform: uppercase;
    margin: 50px 0 0 180px;
    color: white;
    font-size: 50px;
    font-weight: lighter;
}

.container-img-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 0;
}

.container-img-main img {
    width: 21vw;
    height: 21vw;
    padding: 0.3vw;
}

.container-img-media {
    display: none;
}

footer {
    background-color: rgb(255, 244, 244);
    height: 12vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-main {
    width: 100%;
    height: 12vh;
    padding: 0 5vw;
    display: flex;
    align-items: center;
}

.redes-sociais {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.redes-sociais img {
    height: 3vh;
    width: 2.2vw;
}

.footer-main h2 {
    padding-left: 4vw;
}

.ref {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.footer-media {
    display: none;
}

/* MEDIA QUERIES */

@media (max-width: 770px) {
    header {
        height: 6vw;
        justify-content: safe;
    }

    .nav-header-media {
        display: flex;
    }

    .nav-header-media ul {
        list-style: none;
        position: absolute;
        width: 100%;
    }

    .nav-header-media input {
        display: none;
    }

    .nav-header-media nav {
        background-color: black;
        width: 35vw;
        height: 42vw;
        z-index: -1;
        top: 8.01vw;
        left: -40vw;
        position: absolute;
        transition: all .5s;
    }

    input[type="checkbox"]:checked~nav {
        transform: translateX(40vw);
    }

    .nav-header-media li {
        display: block;
        height: 7vw;
        padding: 1vw;
        color: black;
    }

    .nav-header-media li:hover {
        background-color: black;
        font-weight: 900;
    }

    .nav-header-media label {
        position: absolute;
        margin-top: -3.02vw;
        background-color: black;
        width: 30%;
        height: 7vw;
    }

    .nav-header-media img {
        width: 5vw;
        justify-content: center;
        align-items: center;
    }

    .logo-main {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo {
        width: 100%;
        height: 2vh;
        align-items: center;
    }

    .nav-header-main {
        display: none;
    }

    .background-main {
        width: 100%;
        padding-top: -20vw;
    }

    .background-main h1 {
        font-size: 20px;
    }

    .container-img-main {
        display: none;
    }

    .container-img-media {
        display: flex;
    }

}